.awards-card {
  background-color: var(--card-bg);
  border-radius: 5px;
  width: 870px;
  position: relative;
  background-image: url("/assets/content.png");
  background-size: 100% 100%;
  opacity: 0.95;
}
.list-awards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 850px;
  height: 770px;
  margin: 178px 0px 128px;
}
.list-main {
  display: flex;
  flex-direction: column;
  width: 80px;
  margin: 5px;
  position: relative;
  border: 1px solid var(--award-boder);
  border-radius: 5px;
  cursor: pointer;
}

.month-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #3a3a3a;
  font-weight: 700;
}
.month-text > b {
  font-size: 22px;
  color: #c05d2c;
}
.month-text > span {
  font-size: 18px;
  color: #3b7f9b;
}

.awards-container {
  display: flex;
  flex-direction: row;
}

.awards-container > div {
  padding: 10px;
}

.awards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.load-text {
  padding-top: 20px;
  position: relative;
  font-weight: 700;
  color: var(--m-color);
}

.open {
  width: 98vw;
  height: 80px;
  text-align: center;
}
.open::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 13px;
  background-size: cover;
  top: 50px;
  left: 48%;
  background-image: url("/assets/load-more.png");
}

.close {
  width: 98vw;
  height: 80px;
  text-align: center;
}

.close::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 13px;
  background-size: cover;
  top: 50px;
  left: 48%;
  background-image: url("/assets/load-more.png");
  transform: rotate(180deg);
}

.open-img {
  background-image: url("/assets/mobile-open-bg.jpg");
  background-size: 100% 100%;
}

.close-img {
  background-image: url("/assets/mobile-close-bg.jpg");
  background-size: 100% 100%;
}

.sign-text {
  position: absolute;
  top: 8.1rem;
  right: 4rem;
  font-weight: 600;
  color: #f5ebe9;
}
.sign-day-text {
  position: absolute;
  top: 6.6rem;
  left: 11rem;
  color: #f5ebe9;
  font-weight: 900;
  font-size: 28px;
}

@media screen and (max-width: 767px) {
  .sign-text {
    top: 4.8rem;
    right: 2rem;
  }
  .sign-day-text {
    font-weight: 900;
    font-size: 18px;
    top: 4.2rem;
    left: 6rem;
  }
  .awards-card {
    width: 98vw;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .list-awards {
    width: 92%;
    height: 100%;
    margin: 140px 0px 58px;
  }

  .month-text {
    top: 10px;
    left: 10px;
  }

  .awards-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-main {
    margin: 5px 5px;
    width: 3.85rem;
  }
}
