.awards-card {
  background-color: var(--card-bg);
  border-radius: 5px;
  width: 870px;
  position: relative;
  background-image: url("/assets/content.png");
  background-size: 100% 100%;
  opacity: 0.9;
}
.list-awards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 850px;
  height: 770px;
  margin: 178px 0px 128px;
}
.list-main {
  display: flex;
  flex-direction: column;
  width: 80px;
  margin: 5px;
  position: relative;
  border: 1px solid var(--award-boder);
  border-radius: 5px;
  cursor: pointer;
}

.month-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #3a3a3a;
  font-weight: 700;
}
.month-text > b {
  font-size: 22px;
  color: #c05d2c;
}
.month-text > span {
  font-size: 18px;
  color: #3b7f9b;
}

.awards-container {
  display: flex;
  flex-direction: row;
}

.awards-container > div {
  padding: 10px;
}

.awards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .awards-card {
    width: 98vw;
    height: 970px;
    background-image: unset;
  }
  .month-text {
    top: 10px;
    left: 10px;
  }

  .awards-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-main {
    margin: 5px 5px;
    width: 56px;
  }
  .list-awards {
    width: 100%;
    height: auto;
    margin: 40px 0px 128px;
  }
}
