.areaMain {
  position: relative;
}
.text {
  width: 870px;
  background: rgb(255 254 254 / 65%);
}

.areaButton {
  position: absolute;
  right: 0;
  bottom: 3px;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .text {
    width: 98vw;
  }
}
