.item-container {
  width: 91px;
  height: 137px;
  position: relative;
  cursor: pointer;
  margin: 8px;
}
.item-container-normal {
  background: url("/assets/normal.png") no-repeat;
  background-size: 100% 100%;
}

.item-container-active {
  background: url("/assets/active.png") no-repeat;
  background-size: 100% 100%;
}

.item-count {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 27px;
}
.item-received {
  position: absolute;
  width: 91px;
  height: 137px;
  background-color: rgb(213, 206, 172, 0.45);
  z-index: 5;
}

.item-received-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  filter: unset;
  left: 9px;
  top: 17px;
  border-radius: 50%;
  font-weight: 800;
  color: #ec2d2d;
  transform: skewY(-5deg);
  border: var(--border-radius) solid red;
  cursor: pointer;
  filter: grayscale(60%);
  background-color: transparent;
  z-index: 6;
}
.item-receive-badge {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 22px;
  height: 22px;
  background: url("/assets/dot.png") no-repeat;
  background-size: cover;
  z-index: 5;
  cursor: pointer;
}

.item-day-text {
  font-size: 0.2rem;
  color: #8f7d62;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 4px;
  left: 0;
}

.item-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: 13px;
}
@media screen and (max-width: 767px) {
  .item-container {
    width: 3.8rem;
    height: 6.1rem;
    margin: 4px;
  }
  .item-icon {
    width: 60px;
    height: 60px;
    padding: 2px;
    top: 10px;
  }

  .item-received {
    width: 68px;
    height: 100px;
  }

  .item-count {
    bottom: 19px;
    font-size: 14px;
  }
  .item-day-text {
    font-size: 14px;
    bottom: 0px;
  }

  .item-received-text {
    width: 3.1rem;
    height: 3.1rem;
    font-size: 14px;
    left: 6px;
    top: 14px;
  }
}
