.main {
  display: flex;
  flex-direction: column;
}
.user-card {
}
.user-item:hover {
  background: rgb(177, 195, 227);
}

.user-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.user-item > span {
  margin: 5px 3px;
}

.user-item > span:first-child {
  font-size: 22px;
}
.user-span {
  color: #b0a435;
}

.user-item-active {
  cursor: pointer;
  background: cornflowerblue;
}

.user-item-active:hover {
  background: rgb(75, 117, 195);
}

.user-item-active > span {
  color: aliceblue;
}

@media screen and (max-width: 414px) {
  .user-item > span:first-child {
    font-size: 18px;
  }
  .user-item > :not(span:first-child) {
    font-size: 14px;
  }
}
