.main {
  display: flex;
  flex-direction: column;
}
.user-card {
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
}
.user-item:hover {
  background: rgb(177, 195, 227);
}

.user-item {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.user-item > span {
  margin: 5px 3px;
}

.user-item > span:first-child {
  font-size: 22px;
}
.user-span {
  color: rgb(100, 90, 83);
}

.user-item-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-item-active {
  cursor: pointer;
  background: cornflowerblue;
}

.user-item-active:hover {
  background: rgb(75, 117, 195);
}

.user-item-active > span {
  color: aliceblue;
}
.user-expire {
  position: absolute;
  background: rgb(214, 77, 53);
  right: -5px;
  font-size: 16px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: -5px;
}

@media screen and (max-width: 767px) {
  .user-item > span:first-child {
    font-size: 18px;
  }
  .user-item > :not(span:first-child) {
    font-size: 14px;
  }
  .user-card {
    width: 98vw;
  }
}
