.link-main {
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: var(--card-bg);
}

.link-item {
  color: rgba(46, 46, 197, 0.748);
  margin: 5px;
  text-decoration-line: underline;
}
